@import "tailwindcss";

@theme {
  --color-primary: #ffb25c;
  --color-primary-hover: #e59e4b;
  --color-secondary: #00264d;
  --color-accent: #4aa5e5;
  --font-sans: "Inter", system-ui, sans-serif;
  --font-heading: "Outfit", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
  }
}

/* Base custom resets */
html {
  scroll-behavior: smooth;
}